/* Make the website background darkish blue */
/* Create color variables  */
:root {
    --primary-color: #0a192f;
    --secondary-color: #64ffda;
    --tw-text-opacity: 1;
    --secondary-color: rgb(110 231 183 / var(--tw-text-opacity));

    --tertiary-color: #fff;
}

.profile {
    /* Make it a circle shape */
    border-radius: 50%;
    margin: 10px;
    padding: 10px;
    border: 1px solid var(--secondary-color);
    width: 300px;
    height: 300px;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: transparent;
    position: relative;
}

.btn::after {
    width: fit-content;
    height: fit-content;
    position: absolute;
    font-size: 15px;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    opacity: 0;
    visibility: hidden;
    transition: .2s linear;
    top: 115%;
}

.icon {
    width: 30px;
    height: 30px;
    transition: .2s linear;
}

.icon path {
    fill: white;
    transition: .2s linear;
}

.btn:hover>.icon {
    transform: scale(1.2);
}

.btn:hover>.icon path {
    fill: var(--secondary-color);
}

.btn:hover::after {
    visibility: visible;
    opacity: 1;
    top: 105%;
}